<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-card style="margin: 1rem auto" color="blue">
          <!--<div>
            <v-img src="../assets/ronin.jpg" height="100px" width="100px" class="mx-auto" style="border-radius: 10px" />
          </div>-->

          <v-card-title primary-title>
            <div align="center" class="mx-auto">
              <h3 class="headline mb-0">R0N1n-dev</h3>
              <div>Vuetify PWA template</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn color="primary" class="ml-auto">
              <v-icon class="mr-2">fa-search</v-icon>text
            </v-btn>
            <v-btn color="green" class="mr-auto" style="color: #fff">text<v-icon class="ml-2">fa-list</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          <!-- <v-banner elevation="9" color="grey">
            <v-avatar slot="icon" color="deep-purple accent-4">
              <v-icon>fa-battery</v-icon>
            </v-avatar>
            ROZes
          </v-banner>-->

        </h1>
      </v-col>

      <v-col class="mb-5 mx-auto" sm="10" xs="8">
        <h2 class="headline font-weight-bold mb-3">
          What's next?
        </h2>

        <v-row justify="center">
          <v-expansion-panels popout dark>
            <v-expansion-panel>
              <v-expansion-panel-header>
                <h2>Todo</h2>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <p>Make useful app</p>
                <v-icon>fa-lock</v-icon>
                <v-checkbox v-model="checkbox" label="Hello"></v-checkbox>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3"></h2>

        <v-row justify="center"> </v-row>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3"></h2>

        <v-row justify="center"> </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",

  data: () => ({
    checkbox: false,
  }),
};
</script>
