<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="name">
        <v-row>
          <v-col> </v-col>
        </v-row>
      </div>

      <div class="d-flex align-center">
        <v-img alt="Ronin Logo" class="shrink mr-2" contain src="./assets/ronin.jpg" transition="scale-transition" width="40" style="border-radius: 50%" />
      </div>

      <v-spacer></v-spacer>

      <v-btn text outlined>
        <span class="mr-2">R0N1n</span>
        <v-icon>fa-search</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <div class="updatebutton mx-auto" v-if="updateExists">
        <v-snackbar v-model="snackbar" :timeout="timeout" :vertical="vertical">
          New version available!
          <template v-slot:action="{ attrs }">
            <v-btn @click="refreshApp" color="rgb(115, 63, 182)" v-bind="attrs" class="mr-2">
              <v-icon class="mr-2">fa-refresh</v-icon>
              Update
            </v-btn>
            <v-btn @click="snackbar = false" color="rgb(218, 61, 61)" v-bind="attrs">
              <v-icon class="mr-2">fa-close</v-icon>
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </div>
      <HelloWorld />
    </v-main>
    <v-footer absolute fixed app color="primary" dark light height="32" inset>
      <p>@2021 R0Zes</p>
    </v-footer>

  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",

  components: {
    HelloWorld,
  },

  data: () => ({
    refreshing: false,
    registration: null,
    updateExists: false,
    snackbar: false,
    timeout: 5000,
    vertical: true,
  }),
  methods: {
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
      this.snackbar = true;
    },
    refreshApp() {
      // Handle a user tap on the update app button.
      this.updateExists = false;
      // Protect against missing registration.waiting.
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    },
  },
  created() {
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  },
};
</script>
